<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Walk Tracker App</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>walk_tracker_app</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <!-- 位置情報に関する設定 -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>アプリが位置情報を使用します．</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>アプリがバックグラウンドで位置情報を使用します．移動軌跡を記録します．</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>アプリがフォアグラウンドとバックグラウンドの両方で位置情報を使用し，移動軌跡を記録します．</string>

    <!-- バックグラウンドモード -->
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>

    <!-- 加速度センサーの使用 -->
    <key>NSMotionUsageDescription</key>
    <string>アプリがモーションデータを使用して歩行軌跡を記録します。</string>

    <!-- Optional: 一時的に正確な位置情報を要求するための説明（iOS 14以降） -->
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>PreciseLocation</key>
        <string>アプリが移動の正確な位置を記録し、ルートを表示するために必要です。</string>
    </dict>

	<!-- その他の設定 -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
